:root {
  --paboma: 0.5rem;
}

.content {
  color: var(--woob-green);
}

.modal {
  background-color: #3d3c3c;
  border: var(--paboma) solid var(--woob-green);
  border-radius: 0.25rem;
  left: 20%;
  max-width: 60vw;
  padding: calc(var(--paboma) * 2);
  position: absolute;
  top: 35%;
  z-index: 1000;
}

.modal-header {
  color: var(--woob-green);
  margin-bottom: calc(2 * var(--paboma));
  text-align: center;
}

.translucent-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(46, 72, 39, 0.5);
  z-index: 123;
  cursor: pointer;
}

@media only screen and (min-width: 840px) {
  .modal {
    font-size: 1.25rem;
  }
}
