:root {
  --paboma: 10px;
}



.modal {
  background-color: white;
  border: var(--paboma) solid var(--woob-green);
  border-radius: 5px;
  margin: var(--paboma);
  max-width: 60vw;
  padding: calc(var(--paboma) * 2);
}

.modal-header {
  color: var(--woob-green);
  margin-bottom: calc(2 * var(--paboma));
  text-align: center;
}

@media only screen and (min-width: 840px) {
  .modal {
    font-size: 20px;
  }
}
