#back-button {
  color: var(--woob-green);
  cursor: pointer;
  margin: 100px;
}

#img-input {
  border: 2px dashed var(--woob-green);
  border-radius: 5px;
  font-size: 3em;
  margin-bottom: auto;
  margin-top: auto;
}

.logged-in-section {
  color: gray;
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
}

#upload-button {
  background-color: var(--woob-green);
  border-radius: 5px;
  font-size: 3em;
  padding: 50px;
}
