:root {
  --woob-green: green;
  --link-color: fuchsia;
  --hover-transition: 0.5s;
}

* {
  user-select: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: var(--hover-transition);
}

a:hover {
  text-shadow: 1px 1px 8px var(--woob-green);
  transition: var(--hover-transition);
}


.chinese {
  font-family: "ZCool Kuaile";
}

.english {
  font-family: "Luckiest Guy", cursive;
}

.russian {
  font-family: "Neucha";
}
