:root {
  --hover-transition: 0.5s;
  --link-color: fuchsia;
  --woob-green: #7cdd41;
}

* {
  user-select: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: var(--hover-transition);
}

a:hover {
  text-shadow: 0.0625rem 0.0625rem 0.5rem var(--woob-green);
  transition: var(--hover-transition);
}

.chinese {
  font-family: "ZCool Kuaile";
}

.english {
  font-family: "Luckiest Guy", cursive;
}

.russian {
  font-family: "Neucha";
}
