.arrow-wrapper {
    color: green;
    cursor: pointer;
}

#display-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100%;
    width: auto;
}

#left-arrow-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-arrow-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img {
    max-height: 80vh;
}

@media (max-width: 600px) {
    img {
        max-height: 60vh;
    }
}
