.arrow-wrapper {
    color: green;
    margin: auto auto auto auto;
}

#display-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100%;
    width: auto;
}

.photo-wrapper {
    object-fit: scale-down;
    display: flex;
    justify-content: center;
}

