.arrow-wrapper {
    color: green;
    margin: auto auto auto auto;
}

#display-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100%;
    width: auto;
}

.photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 80vh;
}


@media (max-width: 600px) {
    img {
        width: 100%;
    }
}
