#back-button {
  color: var(--woob-green);
  cursor: pointer;
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
}

.faq-page-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-signature {
  stroke-dasharray: 1061;
  stroke-dashoffset: 1061;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}
