#heading {
  background-image: linear-gradient(#151515, #2d2d2d);
  display: grid;
  grid-template-rows: auto auto;
}

#heading__title {
  height: 4.375rem;
}

#heading__nav-items {
  display: grid;
  grid-row: 2 / 2;
  grid-template-columns: repeat(4, 1fr);
  height: 1.875rem;
}

#nav-items__language {
  color: var(--woob-green);
  grid-column: 4 / 4;
}

#nav-items__faq {
  color: var(--woob-green);
  grid-column: 3 / 3;
}

#nav-items__weather {
  color: var(--woob-green);
  grid-column: 2 / 2;
}

#nav-items__welcome {
  color: var(--woob-green);
  grid-column: 1 / 1;
}

.title-array {
  border: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.welcome,
.weather,
.localization,
.faq {
  cursor: pointer;
  padding: 0.25rem;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome:hover,
.weather:hover,
.localization:hover,
.faq:hover {
  transform: skew(-0.01turn, -4deg);
  transition: 1s;
}

@media (max-width: 600px) {
  #heading__title {
    height: 3.125rem;
  }

  #heading__nav-items {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 1.875rem;
  }

  #nav-items__language {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  #nav-items__weather {
    grid-column: 1;
    justify-self: start;
  }

  #nav-items__faq {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
  }

  #nav-items__welcome {
    grid-column: 1;
    justify-self: start;
  }
}
